@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,400&subset=latin,latin-ext);
body {
    font-family: 'Open Sans', 'sans-serif';
    padding: 0 2.6em;
    color: #2c3e50;
}

a {
    color: #d35400;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

h1.social {
    font-size: 2em !important;
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 1000%;
}

img.rounded {
    border-radius: 100%;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: #000000;
}

.text-center {
    text-align: center;
}

.header {
    /* padding: 4em 0; */
}

.content {
    padding-bottom: 4em;
    text-align: justify;
}

.header img {
    width: 120px;
    height: 120px;
}

.header h1 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
}

.header h2,
.post .post-bottom span.date {
    color: #939393;
    font-size: .8em;
    font-weight: 900;
    text-transform: uppercase;
}

li.page {
    display: inline;
    padding: 0 10px;
}

ul.pages {
    list-style-type: none;
    border-bottom: 5px solid #dddddd;
    border-top: 5px solid #dddddd;
    padding: 10px 0;
}

div.footer {
    padding: 1.5em 0;
    border-top: 5px solid #dddddd;
}

.page a {
    font-weight: bold;
}

/* Large desktop */
@media (min-width: 1370px) {
    .content {
        font-size: 1.2em;
    }
}

a:hover {
    color: #e67e22;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1370px) {
    .content {
        font-size: 1em;
        padding-bottom: 2em;
    }

    .header {
        padding-top: 2em;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

div.post .post-content {
    overflow: hidden;
    max-height: 21em;
}

div.post {
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: 1em;
    margin-bottom: 4em;
}
